body {
    background-color: gray;
}

#json-obj {
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 2em;
    padding: 1em;
    font-size: 2em;
    background-color: darkolivegreen;
}

.user-interact {
    width: 100%;
    margin: 2em auto;
    font-size: 2em;
    text-align: center;
}

.number-input-box {
    width: 2.5em;
    padding-left: 0.25em;
    padding-right: 0.1em;
    font-size: 1em;
}

#get-joke-btn {
    font-size: 1em;
    padding: 0.15em 0.75em;
    margin-left: 0.5em;
    border: none;
    background-color: white;
    border-radius: 99999999px;
}

.optional {
    width: 75%;
    margin: auto;
    text-align: center;
    font-size: 1.75em;
}

.input-field {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}

.name-input-field {
    margin: 0 0.25em;
}

.text-input-box {
    font-size: 1em;
    padding-left: 0.25em;
    padding-right: 0.1em;
    width: 6em
}

#get-joke-btn:hover, #get-joke-btn:focus, #get-joke-btn:active {
    cursor: pointer;
    outline: none;
    background-color: black;
    color: white;
}

#get-joke-btn:focus {
    box-shadow: 0 0 3px 2px blue;
}

#get-joke-btn:active {
    background-color: white;
}